{% extends "main.html" %}

{% block scripts %}
{{ super() }}
<script src="https://cdn.jsdelivr.net/npm/add-to-calendar-button@2" async defer></script>
<script>import { atcb_action } from "add-to-calendar-button";</script>
{% endblock %}

{% block styles %}
{{ super() }}
<style>
.event-meta {
  display: flex;
  align-items: center;
  font-size: .6rem;
  color: var(--md-default-fg-color--light);
  letter-spacing: 1px;
  text-transform: uppercase;
}

.event-article {
  display: flex;
  align-items: flex-start;
  margin-bottom: 1rem;
  color: var(--md-default-fg-color--light);
}

.event-cover {
  margin-right: 0.5rem;
}

.md-typeset h2 {
  margin: 0;
}

.md-typeset h1 {
  margin: 0;
}

</style>
{% endblock %}

{% block content %}
<h1>{{ page.title }}</h1>
<div class="event-meta">
  <div class="event-items">
    <span class="twemoji">{% include ".icons/fontawesome/solid/calendar.svg" %}</span>
    {{ page.meta.date }}
    ·
    <span class="twemoji">{% include ".icons/fontawesome/solid/map-location.svg" %}</span>
    {% set location = config.extra.locations[page.meta.location] %}
    {% set location_url = 'https://www.openstreetmap.org/search?query=' + location.address %}
    <a href="{{ location_url }}" title="{{ location.address }}">{{ location.name }}</a>
  </div>
</div>

{% if page.meta.cover %}
<img src="{{ page.meta.cover}}" alt="Cover">
{% endif %} 
<div>
{% if page.meta.meetup_url %}
<a class="md-button" href="{{ page.meta.meetup_url }}">
  <span class="twemoji">{% include ".icons/fontawesome/brands/meetup.svg" %}</span> Wydarzenie na Meetup.com</a>

{% endif %}

{% if page.meta.start and page.meta.end %}
<a class="md-button" id="add-to-calendar-button"> <span class="twemoji">{% include ".icons/fontawesome/solid/calendar.svg" %}</span> Dodaj do kalendarza!</a>

<script type="application/javascript">
  const config = {
    name: "{{page.title}}",
    description: "[url]{{config.site_url}}{{page.url}}[/url]",
    url: "{{config.site_url}}{{page.url}}",
    startDate: "{{page.meta.date}}",
    startTime: "{{page.meta.start}}",
    endTime: "{{page.meta.end}}",
    location: "{{location.name}}, {{location.address}}",
    options: ['Apple','Google','iCal','Outlook.com','Yahoo'],
    timeZone: "Europe/Warsaw"
  };
  const button = document.getElementById('add-to-calendar-button');
  if (button) {
    button.addEventListener('click', () => atcb_action(config, button));
  }
</script>

{% endif %}
</div>
{{page.content}}

<!-- Comment system -->
{% include "partials/comments.html" %}
{% endblock %}
